
<body style="background-color: blueviolet;" class="main-layout inner_header contact_page">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="images/loading.gif" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="/admin"><h1 class="text-warning">Admin Panel</h1></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item ">
                              <a class="nav-link" href="/">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/about">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/service">Services</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/blog">Blog</a>
                           </li>
                           <li class="nav-item active">
                              <a class="nav-link" href="/contact">Contact Us</a>
                           </li>
                          
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->






 



<!-- admin fanal  -->





<button class="m-3 mt-5 mx-5 bg-primary"  ><a class="text-white p-3 " href="/">Home</a></button><br>
<button class="m-3 ml-5 bg-primary "   ><a class="text-white p-3 " href="/from">Add a Teacher Comment</a></button>
<button   class="btn btn-sm btn-primary"><a href="/from"><i class="fas fa-plus text-white"></i></a></button>
<button class="m-3 ml-5 bg-primary "   ><a class="text-white p-3 " href="/#teach">Veiw all  Comment</a></button>

<br>

<h3 style="display:inline-block;width: 835px; text-align: center;" class="bg-info   text-white mx-5">Teacher Comments Table</h3>




<div class="row mb-5 mx-5">
   
   <div class="col-md-8 card">

            <table class="table tableImg text-center table-striped" >

                <thead>
                   <tr>
                        <th># ID</th>
                        <th>Name</th>
                        <th>img</th>
                        <th>Text</th>
                        <th>Aciton</th>
                   </tr>
          
                </thead>
                <tbody>






                      <% teacherComments.forEach((element,index) => { %>
                       

                       <tr>
                           <td><%= index+1%> </td>
                        <td><%= element.name %> </td>
                          
                        
                        <td>  <img src="/images/students/<%= element.img %> " alt="">  </td>
                           <td><%= element.text %> </td>
                           <td>
                                  <a href="/single/<%=element._id%> " class="btn btn-sm btn-warning"><i class="fas fa-eye"></i></a>                                   
                                  <a href="/edit/<%= element._id %> " class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>                                   
                                  <a href="/delete/<%= element._id %> " id="delete" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>                                   
                           </td>
                       </tr>
                       

                      <% }) %>






                      

                </tbody>
          
          
          </table>


           </div>



   </div>






   <footer>
      <div class="footer " style="padding-top: 35px;">
         <div class="container">
            <div class="row">
         



               <div class="col-md-8 offset-md-4 ">
                  <form class="bottom_form ">
                     <h3>OUR ADMIN</h3>
                     <input class="enter" placeholder="Enter your Password Please" type="text" name="Enter your email">
                     <button class="sub_btn">Comments</button>
                  </form>
               </div>
            </div>
         </div>
         
      </div>
   </footer>
   <!-- end footer -->
     
          
               
         







