
<!-- body -->
<body style="background-color: blueviolet;" class="main-layout inner_header contact_page">
    <!-- loader  -->
    <div class="loader_bg">
       <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
       <!-- header inner -->
       <div class="header">
          <div class="container">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo">
                            <a href="/">  <a href="/admin"><h1 class="text-warning">Back</h1></a></a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                   <nav class="navigation navbar navbar-expand-md navbar-dark ">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarsExample04">
                         <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                               <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="/service">Services</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item active">
                               <a class="nav-link" href="/contact">Contact Us</a>
                            </li>
                            <li class="nav-item d_none">
                                <a class="nav-link" href="/admin">Admin</a>
                             </li>
                         </ul>
                      </div>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->



<!-- from -->


  <div class="row my-5  justify-content-center">

                   <div class="col-md-5  card">
                     <h3>Edit <%= datas.name %>  Comment</h3>
                    <form action="/updateit/<%=datas._id%> " method="post" enctype="multipart/form-data">

                       <div class="my-2">
                        <label for="">name</label>
                        <input type="text"  name="name" value="<%= datas.name%>" class="form-control"id="">

                       </div>
                       <div class="my-2">
                        <label for="">Text</label>
                        <input type="text" value="<%= datas.text %>" name="Text"  class="form-control" id="">

                       </div>
                       <div class="my-2">
                        <img  class="pre" style="height: 300px;width: auto;" src="/images/students/<%=datas.img %> " alt="">
                        <label for="img">
                            Photo
                            <br>
                            <img class="ic" style="height:50px ;width:auto;object-fit: cover;" src="//t3.ftcdn.net/jpg/02/70/09/98/360_F_270099822_9zbx236dHn1hyxYNl9HSOBvpUEpU0eOz.jpg" alt="">
                            <br>
                            

                        </label>
                        <input  type="file" name="img" id="img">
                          


                       </div>
                        <div class="my-5 ">
                            <input type="submit" class="w-100 bg-primary text-white" value="submit">
                        </div>
    
                    </form> 
                     </div>


            </div>







            <footer>
                <div class="footer " style="padding-top: 0px;">
                   <div class="container">
                      <div class="row">
                   
          
          
          
                         <div class="col-md-8 offset-md-4 ">
                            <form class="bottom_form ">
                               <h3>OUR ADMIN</h3>
                               <input class="enter" placeholder="Enter your Password Please" type="text" name="Enter your email">
                               <button class="sub_btn">Comments</button>
                            </form>
                         </div>
                      </div>
                   </div>
                   
                </div>
             </footer>
             <!-- end footer -->
               
                    
                         
                   
          
          
          
          